/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

div.inner-wrapper {
    width: 100%;
}

.header-section-bg {
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/head_section_bg_1600x670.jpg') no-repeat;
    background-size: cover;
}

.inner-section {
    width: 960px;
    margin: 0 auto;
}

#header-section {
   height: 670px;
}

#logo-wrap {
    float: left;
    width: 18%;
}

.logo-img {
    width: 128px;
    height: 50px;
    display: block;
    margin: 15px 15px;
    background: url('../img/logo_128x50.png') no-repeat;
}

#header-menu .inline-menu {
    float: right;
    margin-top: 30px;
    list-style: none;
}

#header-menu .inline-menu li {
    display: inline;
}

#header-menu .inline-menu li a {
    margin: 16px;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

#header-menu.inline-menu li {
    display: inline;
}

#header-menu .inline-menu li a {
    margin: 16px;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
}

#header-menu .inline-menu li a:hover {
    color: #00e0d0;
}

#header-menu .inline-menu li a.menu-item-active {
    color: #00e0d0;
}

#header-title {
    float: left;
    width: 100%;
    margin: 150px 0 0 ;
}

#header-title h1{
    color: #FFFFFF;
    text-align: center;
}

.seperator {
    height: 0px;
    width: 50px;
    margin: 5px auto;
    border-top: 1px solid #FFF;
}

#header-text {
    float: left;
    width: 100%;
    height: 100px;
    margin: 20px 0;
}

#header-text p {
    color: #FFF;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#header-footer {
    float: left;
    width: 100%;
}

a.dark-button {
    width: 120px;
    padding: 15px;
    color: #00e0d0;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    border: 2px solid #00e0d0;
}

a.dark-button:hover {
    color: #FFF;
    background-color: #00e0d0;
}

.carousel-nav {
    padding: 0;
    text-decoration: none;
    width: 100px;
    margin: 80px auto;
}

.carousel-nav li {
    display: inline;
    width: 10px;
    height: 10px;
    margin: 0 auto;
}

.carousel-nav li a {
    margin: 5px;
    float: left;
    display: block;
    height: 10px;
    width: 10px;
    border: 1px solid #00e0d0;
    border-radius: 100px;
}

.carousel-nav-active, .carousel-nav li a:hover {
    background-color: #00e0d0;
}
/*Second section*/

.item-center {
    margin: 0 auto;
}

.border {
    border: 2px solid rgba(1,1,1,0);
}

#second-section {
    height:400px ;
    width: 960px;
}

#second-main {
    width: 880px;
    height: 265px;
    margin-top: 70px ;
}

#second-logo { 
    float: left;
    height: 230px;
    width: 235px;
    background: url('../img/logoLorem.png') no-repeat;
}

#main-text {
    float: right;
    width: 540px;
    height: 230px;
}

#main-text a.dark-button {
    margin: 30px 0 0 0;
}



/*third section*/

.third-section-bg {
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/city.jpg') no-repeat;
    background-size: cover;
}

#third-section {
    height:550px ;
    width: 960px;
}

#div-play {
    height: 150px;
    width: 180px;
    margin-top:200px ;
}

#play-wrapper {
    width: 110px;
    height: 110px;
}

#play-button {
    margin:0px auto;
    float: left;
    height: 108px;
    width: 108px;
    background: url('../img/play.png') no-repeat;
}

#div-play p {
    margin-left: 5px;
    color: #FFFFFF;
}

/*section 4 */

.border-two {
    border: 1px solid #000;
}

#section-four {
    height: 740px;
    width: 960px;
}

#main-div {
    width: 900px;
    height: 740px;
}

#div-content {
    margin-top: 9px;
}

#top-div {
    margin-top: 45px;
    width: 460px;
}

#top-div h3 {
    text-align: center;
}

#top-div p {
    text-align: center;
}

#div-item {
    float:left;
    width: 297px;
    height: 290px;
}

#div-pc {
    width: 50px;
    height: 50px;
    margin-top : 25px;
    margin-left: 110px;
    background: url('../img/icon1.png') no-repeat;
}

#div-branding {
    width: 50px;
    height: 50px;
    margin-top : 25px;
    margin-left: 110px;
    background: url('../img/icon2.png') no-repeat;
}

#div-mobile {
    width: 50px;
    height: 50px;
    margin-top : 25px;
    margin-left: 110px;
    background: url('../img/icon3.png') no-repeat;
}

#div-search {
    width: 50px;
    height: 50px;
    margin-top : 25px;
    margin-left: 110px;
    background: url('../img/icon4.png') no-repeat;
}

#div-game {
    width: 50px;
    height: 50px;
    margin-top : 25px;
    margin-left: 110px;
    background: url('../img/icon5.png') no-repeat;
}

#div-made {
    width: 50px;
    height: 50px;
    margin-top : 25px;
    margin-left: 110px;
    background: url('../img/icon6.png') no-repeat;
}



#div-item h5 {
    margin-top: 30px;
    text-align: center;
}

#div-item p {
    margin-top: 50px;
    text-align: center;
}

/*section five*/

#section-five {
    height: 712px;
    width: 960px;
}

.section-five-bg {
    background: linear-gradient(0deg, rgba(46,29,85,0.85), rgba(49,29,94,0.85)), url('../img/section-five.jpg') no-repeat;
    background-size: cover;
}

#div-title {
    width: 410px;
    height: 100px;
    margin-top: 30px;
}

#div-title p {
    text-align: center;
    color: #FFFFFF;
}

#div-title h4 {
    text-align: center;
    color: #FFFFFF;
}

#div-images {
    width: 940px;
    height: 310px;
    margin-top: 25px;
}

#div-low {
    width: 320px;
    height: 90px;
    margin-top: 80px;
}

#div-image {
    width: 232px;
    height: 310px;
    float: left;
}

#first-cadre {
    background: url('../img/white.jpg') no-repeat ;
}

#second-cadre {
    background: url('../img/cadre.jpg') no-repeat ;
}

#second-cadre h6 {
    color: #FFFFFF;
}

#div-low {
    color: #FFFFFF;
}

a.dark-button-two {
    width: 130px;
    padding: 4px;
    color: #00e0d0;
    display: block;
    margin: 0 auto;
    font-weight: bold;
    text-align: center;
    border-radius: 1px;
    text-decoration: none;
    border: 2px solid #00e0d0;
}

a.dark-button-two :hover {
    color: #FFF;
    background-color: #00e0d0;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}