/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.borderTest {
    border: 1px solid;
}

#main-wrapper {
    width: 100%;
    height: 100%;
}

#todo {
    width: 500px;
    margin: auto;
    margin-top: 40px;
    border-radius: 4px;
}

.border {
    border : 2px  gray solid;
}

#todo h2 {
    margin-left: 145px;
}

#todo p {
    margin-left: 10px;
    font-size: x-large;
}

#todo input{
    margin-left: 10px;
    border: 1px gray solid;
    width: 75%;
    height: 30px;
}

#add {
    width: 90px;
    margin-left: 10px;
    border: 1px gray solid;
    border-radius: 4px;
}

#todo textarea {
    resize: nonw;
    height: 50px;
    width: 475px;
    border: 1px gray solid;
    margin-left: 11px;
    margin-top: 7px;
}

#seperator {
    height: 10px;
    width: 140px;
    margin: 20px auto;
    border-top: 1px gray solid;
}

#container {
    width: 500px;
    margin: left;

}

#note {
    margin-left: 11px;
    width: 480px;
    border-radius: 4px;
}

#noteText {
    width: 415px;
}

#noteText h2 {
    text-align: left;
    margin-left: 10px;
    word-wrap: break-word;
  
}

#noteText p {
    margin-left: 10px;
    font-size: 15px;
}

#noteText h3 {
    margin-left: 10px;
    word-wrap: break-word;
}

#remove {
    width: 60px;
    height: 155px;
    margin-left: 420px;
    margin-top: -160px;
}

.delete {
    width: 30px;
    height: 35px;
    margin-left: 14px;
    margin-top: 50px;
}

#horizontal-seprator {
    width: 1px;
    background-color: gray;
    height: 100px;
    margin-top: 25px;
    float: left;

}





/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}