.logo {
	margin-left:20px;
	width: 50px;
	height:50px;
}

.nav-top {
	margin: 20px 20px 10px 20px;
  height:60px;
}

.border {
	border: 2px solid black;
}

.vert-offset-top-6 {
    margin-top: 7em;
}

.cursorMouse {
  cursor: pointer;
}

.full-text {
  display:none;
}

.less-button {
  color: #C3645F;
  cursor: pointer;
}

.more-button {
  color: #C3645F;
  cursor: pointer;
}

.wishlist-row {
  margin-top: 10px;
  margin-bottom: 10px; 

}

.title {
  font-size: 40px;
}

.word {
  font-size: 25px;
  color: #C3645F;
}

.phrase {
  font-size: 17px;
  margin-top: 15px;
}

.corner {
  font-size: 35px;
}

.image {
  width:80%;
  margin-top: 15px;
}

.vert-offset-top-1{
    margin-top: 1em;
}

.vert-offset-top-11{
    margin-top: 11.5em;
}

.vert-offset-top-5{
    margin-top: 5em;
}

.image-center {
  width:80%;
}

.word-categorie {
  font-size:25px;
}

.word-wishList {
  font-size:25px;
}

.word-item {
  font-size:20px;
}

.word-logo {
  font-size:20px
}

.wishList-item {
  font-size:17px;
  color: #C3645F;
}

.wishList-restaurant {
  font-size:20px;
}

.map {
  height:500px;
  margin-left:15px
}
/*=====================*/

/*.img-plus-minus {
  width:30%;
}*/

.delete {
  margin-left:7px;
}

.qt {
  margin-left:6px;
  margin-right:6px;
  display: inline-block;
}

.button-map {
  margin-left:5px;
}

@media only screen and (max-width: 1633px) {
  .qt {
    margin-left:3px;
    margin-right:3px;
    display: inline-block;
  }

  .delete {
    margin-left:5px;
  }

  .all-price {
    /*width:42px;*/
    font-size:10px;
  }
  .name-item {
    font-size:4px;
  }
}

@media only screen and (max-width: 1537px) {
  .qt {
    margin-left:2px;
    margin-right:2px;
    display: inline-block;
  }

  .delete {
    margin-left:12px;
  }

  .button-map {
    margin-left:2px;
  }

  .name-item {
    font-size:11px;
  }

}

@media only screen and (max-width: 1210px) {
  .qt {
    margin-left:2px;
    margin-right:2px;
    display: inline-block;
  }
  .button-map {
    width:20px;
  }

  .button-gallery {
    width:20px;
    margin-left:5px;
  }
}

@media only screen and (max-width: 1448px) {
  .delete {
    margin-left:12px;
    width:15px;
  }
  .name-item {
    font-size:8px;
  }
}


@media only screen and (max-width: 1600px) {
  .delete {
    margin-left:-5px;
    width:14px;
  }
  .name-item {
    font-size:12px;
  }
  .img-plus-minus {
    width:26%;
  }
}
/*======*/


@media only screen and (max-width: 4600px) {
  .img-plus-minus {
    width:2%;
  }
}
@media only screen and (max-width: 4200px) {
  .img-plus-minus {
    width:4%;
  }
}

@media only screen and (max-width: 4000px) {
  .img-plus-minus {
    width:6%;
  }
}

@media only screen and (max-width: 3600px) {
  .img-plus-minus {
    width:8%;
  }
}

@media only screen and (max-width: 3200px) {
  .img-plus-minus {
    width:10%;
  }
}
@media only screen and (max-width: 3000px) {
  .img-plus-minus {
    width:14%;
  }
}

@media only screen and (max-width: 2700px) {
  .img-plus-minus {
    width:18%;
  }
}

@media only screen and (max-width: 2500px) {
  .img-plus-minus {
    width:20%;
  }
}

@media only screen and (max-width: 2200px) {
  .delete {
    margin-left:4px;
    width:22px;
  }
}

@media only screen and (max-width: 2000px) {
  .img-plus-minus {
    width:22%;
  }
  .delete {
    margin-left:1px;
    width:12px;
  }
}

@media only screen and (max-width: 1800px) {
  .img-plus-minus {
    width:24%;
  }
}


/*============================*/
@media only screen and (max-width: 1586px) {
  .wishList-restaurant {
    font-size:16px;
  }
}

/* case resizing browser */
@media only screen and (max-width: 1400px) {
   .word-logo {
      font-size:12px
  }
   .word-categorie {
      font-size:15px;
   }

   .word-item {
      font-size:12px;
   }

   .word-wishList {
      font-size:15px;
  }

  .wishList-item {
    font-size:10px;
  }

  .wishList-restaurant {
    font-size:14px;
  }

  .title {
    font-size: 27px;
  }

  .word {
    font-size: 20px;
    color: #C3645F;
  }

  .phrase {
    font-size: 17px;
    margin-top: 15px;
  }

  .vert-offset-top-11{
    margin-top: 9.5em;
  }

  .vert-offset-top-5{
    margin-top: 3em;
  }

  .corner {
    font-size: 25px;
  }

}

@media only screen and (max-width: 991px) {
  .vert-offset-top-11{
    margin-top: 2em;
  }
  .vert-offset-top-5{
    margin-top: 0em;
  }
  .img-plus-minus {
    width:2%;
  }

}