/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
#main-wrapper {
    width: 100%;
    height: 100%;
}

.inner-wrapper {
    height: 600px;
}

.border {
    border: 1px solid;
}

.inner-wrapper button {
    margin-left: 125px;
    margin-top: -35px;
    position:absolute;
    border: 1px solid;
    border-radius: 4px;
    background: #CEEDDF;
}

.inner-wrapper p {
    margin-top: 65px;
    margin-left: 20px;
}

#moves {
    float: left;
}

#disks {
    width: 100%;
    height: 400px;
    margin-top: 20px;
    margin-left: 75px;
    position: relative;
}

#disk1 {
width: 20px;
height: 10px; 
margin-top: 101px;
margin-left: 245px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#CEEDDF;
}

#disk2 {
width: 40px;
height: 10px; 
margin-top: 113px;
margin-left: 238px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#DDEEFE;
}

#disk3 {
width: 60px;
height: 10px; 
margin-top: 125px;
margin-left: 230px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#FEEEEF;
}

#disk4 {
width: 75px;
height: 10px; 
margin-top: 137px;
margin-left: 220px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#EEFECC;
}

#disk5 {
width: 100px;
height: 10px; 
margin-top: 149px;
margin-left: 205px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#EEFEFF;
width: 100px;
}

#disk6 { 
width: 140px;
height: 10px; 
margin-top: 161px;
margin-left: 185px;
position: absolute;
border: 1px solid;
border-radius: 4px;
background:#FEEEEF;
width:140px;
}  

#disk7 {
width: 180px;
height: 10px; 
margin-top: 173px;
margin-left: 165px;
position: absolute;
border: 1px solid;
border-radius: 4px;
background:#CEEDDF;
}

#disk8 { 
width: 200px;
height: 10px; 
margin-top: 185px;
margin-left: 155px;
position: absolute;
border: 1px solid;
border-radius: 4px;
background:#DDEEFE;
}


#bar-one {
width: 5px;
height: 115px; 
margin-top: 80px;
margin-left: 252px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#FFFFFF;
}

#bar-two {
width: 5px;
height: 115px; 
margin-top: 80px;
margin-left: 552px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#FFFFFF;
}

#bar-three {
width: 5px;
height: 115px; 
margin-top: 80px;
margin-left: 852px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#FFFFFF;
}

#bar-floor {
width: 900px;
height: 10px; 
margin-top: 197px;
margin-left: 170px;
position:absolute;
border: 1px solid;
border-radius: 4px;
background:#000;
}








/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}